@model IEnumerable<Cat_in_the_sack.Models.Movy>

@{
    ViewBag.Title = "Index";

}

<div class="movie" id="Action"><img src="~/img/action_icon.svg" alt="" id="icon"><p>Action</p></div>
<div class="movie" id="Drama"><img src="~/img/drama_icon.svg" alt="" id="icon"><p>Drama</p></div>
<div class="movie" id="Random"><img src="~/img/random_icon.svg" alt="" id="icon"><p>Random</p></div>
<div class="movie" id="Comedy"><img src="~/img/comedy_icon.svg" alt="" id="icon"><p>Comedy</p></div>
<div class="movie" id="Cartoon"><img src="~/img/cartoon_icon.svg" alt="" id="icon"><p>Cartoon</p></div>




