@model IEnumerable<Cat_in_the_sack.Models.Movy>

@{
    ViewBag.Title = "Index";
}
<div class="list-group">
    <a href="/Movies/WatchResult?genre=Action"><div class="movie"><img src="~/img/action_icon.svg" alt="" id="icon"><p>Action</p></div></a>
    <a href="/Movies/WatchResult?genre=Drama"><div class="movie"><img src="~/img/drama_icon.svg" alt="" id="icon"><p>Drama</p></div></a>
    <a href="/Movies/WatchResult?genre=Random"><div class="movie"><img src="~/img/random_icon.svg" alt="" id="icon"><p>Random</p></div></a>
    <a href="/Movies/WatchResult?genre=Comedy"><div class="movie"><img src="~/img/comedy_icon.svg" alt="" id="icon"><p>Comedy</p></div></a>
    <a href="/Movies/WatchResult?genre=Cartoons"><div class="movie"><img src="~/img/cartoon_icon.svg" alt="" id="icon"><p>Cartoon</p></div></a>
</div>

