@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta http-equiv="refresh" content="5, url=/Movies/Index"/>

<h2>Enjoy!</h2>
<h3 id="redirect" >Redirecting to the mainpage in a few seconds...</h3>

