*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;

}

body{
    background: #1f1f1f;

}

header{
    color: #FF9842;
    margin-bottom: 20px;
}

hr{
    width: 3px;
}

h1{
    font-size: 60px;
}

h1:hover{
    cursor: pointer;
}

a {
    text-decoration: none;
}

h3{
    opacity: 0.8;
    font-weight: normal;
}

.linebreak{
    width: 70%; 
    height: 5px; 
    background: #FF9842; 
    margin: 0 auto;
    border-radius: 2px;
}


@media(max-width: 768px){
    .list-group{
        display: flex;
        flex-direction: column;
        margin: 50px;
        align-items: center;
    }
    p {
        font-size: 30px;
        color: #C8C8C8;
        font-weight: 100;
        margin-left: 20px;
    }
    .movie{
        display: flex;
        align-items: center;
    }
}

.movie{
    padding: 20px 20px 0 20px;
}

.list-group {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

#icon{
    width: 180px;
}

p{
    font-size: 30px;
    color: #C8C8C8;
    font-weight: 100;
    margin-top: 15px;
}


title{
    color: #6B8BD5;
}

#butt1{
    padding: 10px;
    border-radius: 10px;
    background: none;
    border: 2px solid #FF9842;
    color: #FF9842;
    font-weight: bold;
    transition: 0.3s;
}

#butt2 {
    padding: 10px;
    border-radius: 10px;
    background: none;
    border: 2px solid #814d21;
    color: #814d21;
    font-weight: bold;
    transition: 0.3s;
}

#butt1:hover{
    background: #313131;
    cursor: pointer;
}

#butt2:hover {
    background: #313131;
    border: 2px solid #FF9842;
    color: #FF9842;
    cursor: pointer;
}

#another-genre-link {
    display: block;
    margin-top: 5px;
    font-size: 15px;
    color: #4f4f4f;
    text-decoration: underline;
}

#another-genre-link:hover{
    color: #a1a1a1;
    cursor: pointer;
    transition: 0.3s;
}